<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Airplane</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"></link>
</head>
<body>
    <h1>Add Airplane</h1>
    <form action="/add_airplane" method="post">
        <label for="airplane_id">Airplane ID:</label>
        <input type="text" id="airplane_id" name="airplane_id">
        
        <label for="model">Model:</label>
        <input type="text" id="model" name="model">
        
        <button type="submit">Add Airplane</button>
    </form>
</body>
</html>
