<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Airport</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Add New Airport</h1>
    <form action="/add-airport" method="post">
        <label for="airport_code">Airport Code:</label>
        <input type="text" id="airport_code" name="airport_code">
        
        <label for="airport_name">Airport Name:</label>
        <input type="text" id="airport_name" name="airport_name">
        
        <label for="city">City:</label>
        <input type="text" id="city" name="city">
        
        <label for="country">Country:</label>
        <input type="text" id="country" name="country">

        <label for="terminals">Terminals:</label>
        <input type="number" id="terminals" name="terminals">
        
        <button type="submit">Add Airport</button>
    </form>
</body>
</html>
