<!DOCTYPE html>
<html lang="en">
<link>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customer.css') }}"></link>
  <title>Document</title>
</head>
<body>
  <div class="dashboard-container">
      <h2>Customer Dashboard</h2>
      <a href="/flights" class="dashboard-link">View My Flights</a>
      <!-- you can search for flights in the flights tab -->
      <a href="/purchase" class="dashboard-link">Purchase Tickets</a>
      <a href="/cancel" class="dashboard-link">Cancel Trip</a>
      <a href="/ratings" class="dashboard-link">Rate and Comment on Flights</a>
      <a href="/spending" class="dashboard-link">Track My Spending</a>
      <a href="/logout" class="dashboard-link">Logout</a>
  </div>
</body>
</html>