<!DOCTYPE html>
<html lang="en">
<link>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customer.css') }}"></link>
  <title>Document</title>
</head>
<body>
  <div class="dashboard-container">
      <h2>Customer Dashboard</h2>
      <a href="/view_my_flights" class="dashboard-link">View My Flights</a>
      <a href="/search_flights" class="dashboard-link">Search for Flights</a>
      <a href="/purchase_tickets" class="dashboard-link">Purchase Tickets</a>
      <a href="/cancel_trip" class="dashboard-link">Cancel Trip</a>
      <a href="/give_feedback" class="dashboard-link">Rate and Comment on Flights</a>
      <a href="/track_spending" class="dashboard-link">Track My Spending</a>
      <a href="/logout" class="dashboard-link">Logout</a>
  </div>
</body>
</html>