<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  <title>Document</title>
</head>

<body>
  <h1>Databases Final Project Home</h1>
  <div>
    <!-- style="width: 50%; height: 100px; float: left; background: green;" -->
    <div>
      <h1>Customer</h1>
      <p>Click the appropriate button below to either <b>log in</b> to your account or <b>register</b> as a new customer
      </p>
      <form action="/customer-login" method="get">
        <button id="customer_login" type="submit"><b>Log in(customer)</b></button>
      </form>
      <form action="/customer-register" method="get">
        <button id="customer_register" type="submit"><b>Register(customer)</b></button>
      </form>
    </div>
    <div>
      <!-- style="margin-left: 50%; height: 100px; background: blue;"  -->
      <h1>Staff</h1>
      <p>Click the appropriate button below to either <b>log in</b> or <b>register</b> as a new staff</p>
      <form action="/staff-login" method="get">
        <button id="staff_login" type="submit"><b>Login (Staff)</b></button>
      </form>
      <form action="/staff-register" method="get">
        <button id="staff_register" type="submit"><b>Register (Staff)</b></button>
      </form>
    </div>
  </div>
</body>

</html>