<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Earned Revenue</title>
</head>
<body>
    <h1>Earned Revenue</h1>
    
    <form action="/revenue" method="get">
        Enter/Select Airline Name: 
        <input type="text" name="flightName" required>
        <button type="submit">Filter Revenue</button>
    </form>
    
    {% if flight_name %}
    <h2>Showing Revenue for Flight: {{ flight_name }}</h2>
    {% endif %}
    
    <p>Total Revenue Last Month: ${{ last_month_revenue }}</p>
    <p>Total Revenue Last Year: ${{ last_year_revenue }}</p>
</body>
</html>
